src/.vs/src/CopilotIndices/17.13.430.18484/CodeChunks.db
src/.vs/src/CopilotIndices/17.13.430.18484/CodeChunks.db-shm
src/.vs/src/CopilotIndices/17.13.430.18484/CodeChunks.db-wal
src/.vs/src/CopilotIndices/17.13.430.18484/SemanticSymbols.db
src/.vs/src/CopilotIndices/17.13.430.18484/SemanticSymbols.db-shm
src/.vs/src/CopilotIndices/17.13.430.18484/SemanticSymbols.db-wal
src/.vs/src/FileContentIndex/1d3d10be-fa14-47eb-960e-63a98cfbf791.vsidx
